services:
  epguides-api:
    command: >
      uvicorn app.main:app --reload --host 0.0.0.0 --port 3000
    build:
      context: .
    ports:
      - 3000:3000
    volumes:
      - ./:/app
    links:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - LLM_ENABLED=true
      - LLM_API_URL=https://llm.carlsen.io/v1
      - LLM_API_KEY=${LLM_API_KEY}
  redis:
    command: bash -c "redis-server --save 10 1"
    image: redis
    ports:
      - 6379:6379
    volumes:
      - ~/docker_volumes/redis-data:/data
