services:
  epguides-api:
    command: >
      uvicorn app.main:app --reload --host 0.0.0.0 --port 3000
    build:
      context: .
    ports:
      - 3000:3000
    volumes:
      - ./:/app
    env_file:
      - .env
    depends_on:
      - redis
  redis:
    command: bash -c "redis-server --save 10 1"
    image: redis
    ports:
      - 6379:6379
    volumes:
      - ~/docker_volumes/redis-data:/data
