Flask==0.10.1
Flask-Cache==0.13.1
redis==2.10.5
flake8==2.5.4
tox==2.3.1
requests==2.9.1
pytest==2.8.7
raven[flask]==5.9.2
blinker==1.4
coverage==4.0.3
facebookads==2.5.1
universal-analytics-python==0.2.4
