Flask==1.0.2
Flask-Cache==0.13.1
redis==3.2.0
flake8==3.7.6
tox==3.7.0
requests==2.21.0
pytest==4.3.0
raven[flask]==6.10.0
blinker==1.4
coverage==4.5.2
facebookads==2.11.4
gunicorn==19.9.0
pip==19.0.2
