Flask==1.1.1
Flask-Cache==0.13.1
redis==3.3.11
flake8==3.7.9
tox==3.14.3
requests==2.22.0
pytest==5.3.5
raven[flask]==6.10.0
blinker==1.4
coverage==5.0.3
facebookads==2.11.4
gunicorn==20.0.4
pip==20.0.2
